#aws credentials
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
#use only if you will use minio
AWS_ENDPOINT_URL=

#postgre credentials
PG_HOST = ""
PG_PORT = ""
PG_DB = ""
PG_USER = ""
PG_PASSWORD = ""

#mysql credentials
MYSQL_HOST = ""
MYSQL_PORT = ""
MYSQL_DB = ""
MYSQL_USER = ""
MYSQL_PASSWORD = ""

#python driver definition
PYSPARK_PYTHON=python
PYSPARK_DRIVER_PYTHON=python