#aws credentials
AWS_ACCESS_KEY_ID=access_key_minio
AWS_SECRET_ACCESS_KEY=secret_key_minio
# S3 endpoint used only for local development with MinIO
AWS_ENDPOINT_URL=http://localhost:<port>

#postgre credentials
PG_HOST =     ""
PG_PORT =     ""
PG_DB =       ""
PG_USER =     ""
PG_PASSWORD = ""

#mysql credentials
MYSQL_HOST =      ""
MYSQL_PORT =      ""
MYSQL_DB =        ""
MYSQL_USER =      ""
MYSQL_PASSWORD =  ""

PYSPARK_PYTHON=python
PYSPARK_DRIVER_PYTHON=python

# Prometheus Pushgateway
PROMETHEUS_PUSHGATEWAY_URL=http://localhost:<port>
PROMETHEUS_JOB_NAME=data_platform_pipeline
