#pip install --no-cache-dir -r requirements.txt
pyspark==3.5.1
fastapi==0.116.1
uvicorn[standard]==0.35.0
pytest==8.4.1
requests
pandas
pyarrow
python-dotenv
boto3
sqlalchemy
psycopg[binary]
pymysql
delta-spark==3.1.0